#app {
  display: flex;
  height: 100vh;
}

#sidebar {
  width: 220px;
  background: #020617;
  padding: 20px;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#topbar {
  height: 50px;
  background: #020617;
  padding: 10px;
}

#page-container {
  flex: 1;
  padding: 20px;
}

